.scope__element .container__box:nth-child(2) {
    margin-top: 2rem;
}

.header__main {
    margin-bottom: 1rem;
}

@media (min-width: 350px) and (max-width: 500px) {
    .main__footer {
        margin-top: 167pc !important;
    }
}

@media (min-width: 750px) and (max-width: 991px) {
    .main__footer {
        margin-top: 109pc !important;
    }
}

@media (min-width: 1200px) and (max-width : 1335px) {
    .main__footer {
        margin-top: 115pc !important;
    }
}

@media (min-width: 1337px) and (max-width: 1536px) {
    .main__footer {
        margin-top: 116pc !important;
    }
}

@media (min-width: 1537px) {
    .main__footer {
        margin: 114pc 0px 0px !important;
    }
}